
*.opensdf
*.suo
*.sdf
*.user
*.obj
*.pdb
/WixUIBannerBmp.psd
/WixUIDialogBmp.psd
/CredentialProvider/obj
/CredentialProvider/bin
/CredentialProviderFilter/obj
/CredentialProviderFilter/bin
/WiXSetup/obj
/WiXSetup/bin
/helpers/obj
/helpers/bin
/WiXCustomActions/obj
/WiXCustomActions/bin
/lib/rapidjson/*
!/lib/rapidjson/#version
/lib/libcurl/*
!/lib/libcurl/#version
/lib/openssl/*
!/lib/openssl/#version
Thumbs.db
