<?xml version="1.0" encoding="UTF-8"?>
<!--
/* * * * * * * * * * * * * * * * * * * * *
**
** Copyright 2012 Dominik Pretzsch
** 
**    Licensed under the Apache License, Version 2.0 (the "License");
**    you may not use this file except in compliance with the License.
**    You may obtain a copy of the License at
** 
**        http://www.apache.org/licenses/LICENSE-2.0
** 
**    Unless required by applicable law or agreed to in writing, software
**    distributed under the License is distributed on an "AS IS" BASIS,
**    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
**    See the License for the specific language governing permissions and
**    limitations under the License.
**
** * * * * * * * * * * * * * * * * * * */
-->
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <UI>
      <Dialog Id="MultiOTPPathConfigurationDlg" Width="370" Height="270" Title="[ProductName] Setup" NoMinimize="yes">

        <Control Id="PathToMultiOTPLabel" Type="Text" X="45" Y="73" Width="220" Height="15" TabSkip="no" Text="&amp;Path to multiOTP: (mandatory)" />
        <Control Id="PathToMultiOTPEdit" Type="Edit" X="45" Y="85" Width="220" Height="18" Property="PATH_TO_MULTIOTP" Text="{1024}" />
        <Control Id="PathToMultiOTPInfo" Type="PushButton" X="270" Y="84" Width="18" Height="18" FixedSize="yes" IconSize="16" Text="HelpIcon" Icon="yes">
          <Publish Event="SpawnDialog" Value="PathToMultiOTPInfoDlg">1</Publish>
        </Control>

        <Control Id="SoapTimeoutLabel" Type="Text" X="45" Y="125" Width="220" Height="15" TabSkip="no" Text="&amp;Timeout (secs): (optional)" />
        <Control Id="SoapTimeoutEdit" Type="Edit" X="45" Y="137" Width="220" Height="18" Property="TIMEOUT" Text="{3}" Integer="yes" />

        <Control Id="Back" Type="PushButton" X="180" Y="243" Width="56" Height="17" Text="&amp;Back">
          <Publish Event="NewDialog" Value="CustomizeDlg">1</Publish>
        </Control>
        <Control Id="Next" Type="PushButton" X="236" Y="243" Width="56" Height="17" Default="yes" Text="&amp;Next">
          <Publish Event="NewDialog" Value="VerifyReadyDlg">PATH_TO_MULTIOTP</Publish>
          <Publish Event="SpawnDialog" Value="NoPathToMultiOTPMessageDlg">NOT PATH_TO_MULTIOTP</Publish>
        </Control>

        <Control Id="Cancel" Type="PushButton" X="304" Y="243" Width="56" Height="17" Cancel="yes" Text="Cancel">
          <Publish Event="SpawnDialog" Value="CancelDlg">1</Publish>
        </Control>

        <Control Id="BannerBitmap" Type="Bitmap" X="0" Y="0" Width="370" Height="44" TabSkip="no" Text="WixUI_Bmp_Banner" />
        <Control Id="Description" Type="Text" X="25" Y="23" Width="280" Height="15" Transparent="yes" NoPrefix="yes">
          <Text>Specify a path to a directory containing multiotp.exe. See help!</Text>
        </Control>
        <Control Id="BottomLine" Type="Line" X="0" Y="234" Width="370" Height="0" />
        <Control Id="Title" Type="Text" X="15" Y="6" Width="200" Height="15" Transparent="yes" NoPrefix="yes">
          <Text>{\WixUI_Font_Title}Configuration</Text>
        </Control>
        <Control Id="BannerLine" Type="Line" X="0" Y="44" Width="370" Height="0" />

      </Dialog>
    </UI>
  </Fragment>

  <Fragment>
    <!-- Pop-Ups -->
    <UI>
      <Dialog Id="NoPathToMultiOTPMessageDlg" Width="260" Height="85" Title="[ProductName] Setup" NoMinimize="yes">
        <Control Id="Icon" Type="Icon" X="15" Y="15" Width="24" Height="24"
          ToolTip="Information icon" FixedSize="yes" IconSize="32" Text="ExclamIcon" />
        <Control Id="Return" Type="PushButton" X="100" Y="57" Width="56" Height="17" Default="yes" Cancel="yes" Text="&amp;Return">
          <Publish Event="EndDialog" Value="Return">1</Publish>
        </Control>
        <Control Id="Text" Type="Text" X="48" Y="15" Width="194" Height="30" TabSkip="no">
          <Text>
            Please specify a path to multiotp.exe
          </Text>
        </Control>
      </Dialog>
    </UI>
    <!-- END Pop-Ups -->

    <!-- Configuration Help -->
    <UI>
      <Dialog Id="PathToMultiOTPInfoDlg" Width="500" Height="100" Title="[ProductName] Setup" NoMinimize="yes" >
        <Control Id="Icon" Type="Icon" X="15" Y="15" Width="24" Height="24"
          ToolTip="Information icon" FixedSize="yes" IconSize="32" Text="InfoIcon" />
        <Control Id="Return" Type="PushButton" X="340" Y="80" Width="56" Height="17" Default="yes" Cancel="yes" Text="&amp;Return">
          <Publish Event="EndDialog" Value="Return">1</Publish>
        </Control>
        <Control Id="Text1" Type="Text" X="48" Y="0" Width="482" Height="75" TabSkip="no" NoPrefix="yes" NoWrap="no">
          <Text>
            !(loc.PathToMultiOTPInfo)
          </Text>
        </Control>
      </Dialog>
    </UI>
    <!-- END Configuration Help -->
  </Fragment>
</Wix>